snippet if
if (${1:CONDITION}) {
	${0:${VISUAL}}
}
endsnippet

snippet t
<${1:div}${2: className='${3:CLASS}'}>${0:${VISUAL}}</$1>
endsnippet

snippet tb
<${1:div}${2: className='${3:CLASS}'}>
	${0:${VISUAL}}
</$1>
endsnippet

snippet cc
// IF (`date +%m/%d/%y`):
endsnippet

snippet import
import { ${1:component} } from '${4:${2:@${3:path}}/$1}';
endsnippet

snippet lg
console.log('IFLOG: ', ${1:'${2:here}'});
endsnippet
